@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    ready(function () {
        $('#Fecha').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy'
        })
    });
</script>

<section class="content-header">
    <h1>
        Listado de actividades
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-body">
                    <div class="row">
                        <form action="~/LogActividad/GetLista" method="post" id="formBite" name="formBite">
                            <div class="col-md-4">
                                <!-- fecha de busqueda -->

                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input id="Fecha" value="@ViewBag.Fecha" name="Fecha" class="form-control pull-right" placeholder="Indique la fecha de búsqueda" type="text" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info" type="submit">Aceptar</button>
                            </div>
                        </form>
                    </div>
                    <!-- fin fecha de busqueda -->
                    <table id="tbAct" class="table table-bordered table-hover dt-responsive">
                        <thead class="blue darken-2 text-white">
                            <tr>
                                <th>Hora</th>
                                <th>Nombre Usuario</th>
                                <th>Documento</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.list)
                            {
                                <tr>
                                    <td>@item.hora</td>
                                    <td>@item.idUser</td>
                                    <td>@item.documento</td>
                                    <td>@item.descripcion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

    <script type="text/javascript">
    $(document).ready(function () {
        $('#tbAct').DataTable({
             "destroy": true,
            "responsive": true,
            'bProcessing': true,
            "bPaginate": false,
            "iDisplayLength": 10,
            "bFilter": false,
            "bLengthChange": false,
            "bSort": true,
            "oLanguage": {
                    "sEmptyTable": "No se han encontrado registros.",
                    "sZeroRecords": "No se han encontrado registros.",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sLoadingRecords": "Espere por favor - Cargando...",
                    "sSearch": "Buscar:",
                    "sInfo": "Mostrando _START_ de _END_ en _TOTAL_ registros",
                    "sInfoEmpty": 'No se han encontrado registros.',
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    }
                }
            });
    });
    </script>
}

