@model mvc4.Models.Documento
@{
    ViewBag.Title = "Detalle documento";
}

<script type="text/javascript">
    ready(function () {
        $('#btn-referencia').click(function () {
            var col = $("#colecciones").val();
            if (col == "") {
                alert("Debe seleccionar las colecciones para las que será visible la referencia.");
                return;
            }
            var texto = $("#textoReferencia").val();
            var texto2 = $("#textoReferenciaDestino").val();
            if (texto == "" || texto2 == "") {
                alert("Debe indicar la descripción para el link del documento original y del documento de destino");
            } else {
                $("#form-referencia").submit();
            }
        });

        $('.linkNota').click(function () {
            event.preventDefault();
            var i = $(this).attr('id');
            var cols = i.split('_');
            var colecciones = "";
            for (var x = 0; x < cols.length - 1; x++) {
                if (colecciones != "")
                    colecciones += ", ";
                colecciones += cols[x];
            }
            colecciones = "Nota visible para " + colecciones;
            var params = new Object();
            params.Nota = new Object();
            params.Nota.Result = 1;
            params.Nota.TextoNota = i;
            params.Nota.Coleccion = "@ViewBag.Coleccion"; //segun seleccion
            $.ajax({
                type: "POST",
                url: "/Document/Nota",
                content: "application/json; charset=utf-8",
                dataType: "json",
                data: params,
                success: function (d) {
                    if (d.Result == 0) {
                        $("#aNota").attr("href", "@Url.Action("Ma_EditarDocumento", "Document", new { id = Model.IdDocumento })" + "-" + i);
                        $('#detalleNota').modal('show')
                        $('#txtDetalleNota').html(colecciones + "<br /><br />" + d.TextoNota);
                    }
                    else {
                        alert(d.TextoNota);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("Ocurrió un error al crear la nueva nota. Por favor, contáctese con el administrador.");
                }
            });
        });
    });
</script>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-table"></i>
                    <h3 class="box-title">@ViewBag.Title</h3>
                </div>
                <div class="box-body">
                    @if (!String.IsNullOrWhiteSpace(@Html.ValidationMessage("Error").ToString()))
                    {
                        <div class="row">
                            <div class="col-md-8">
                                @Html.ValidationMessage("Error")
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-md-8">
                                @if (ViewBag.Referencia)
                                {

                                    <div class="box box-success box-solid">
                                        <div class="box-header with-border">
                                            <h3>Nueva referencia para:</h3>
                                        </div>
                                        <div class="box-body">
                                            <strong>@ViewBag.DocumentoR.Norma</strong><br />
                                            @if (ViewBag.DocumentoR.Organismo != null && ViewBag.DocumentoR.Organismo != "")
                                            {
                                                @ViewBag.DocumentoR.Organismo
                                            }
                                            @if (ViewBag.DocumentoR.Numero != null && ViewBag.DocumentoR.Numero != "")
                                            {
                                                <label>Número @ViewBag.DocumentoR.Numero</label>
                                            }
                                            @if (ViewBag.DocumentoR.Articulo != null && ViewBag.DocumentoR.Articulo != "")
                                            {
                                                <label>Artículo @ViewBag.DocumentoR.Articulo</label>
                                            }
                                            @if (ViewBag.DocumentoR.Inciso != null && ViewBag.DocumentoR.Inciso != "")
                                            {
                                                <label>Inciso @ViewBag.DocumentoR.Inciso</label>
                                            }
                                            <br /><br />
                                            @ViewBag.DocumentoR.Titulo
                                        </div>
                                    </div>

                                }

                                <a href="~/Document/Ma_EditarDocumento/@Model.IdDocumento" id="btn-vista-previa" class="btn btn-success btn-block">Ir a edición del documento</a>
                                @Html.Raw(Model.Texto)
                            </div>
                            @if (!ViewBag.Referencia)
                            {
                                <div class="col-md-4" style="border-left: 1px solid gray">
                                    <a href="~/Busqueda/Index/@Model.IdDocumento" class="btn btn-block btn-primary btn-sm">Nueva referencia a partir de documento existente</a>
                                    <a href="~/Document/Ma_NuevaReferencia/@Model.IdDocumento" class="btn btn-block btn-primary btn-sm">Nueva referencia vacía</a>
                                    <div style="float: left">
                                        <h3>Referencias</h3>
                                    </div>
                                    <div style="clear: both"></div>

                                    @foreach (var link in Model.Links)
                                    {
                                        if (link.Tipo.IndexOf("no contiene links") > 0)
                                        {
                                            @link.Tipo
                                        }
                                        else
                                        {
                                            <label>Visible para</label> @link.Colecciones <br />
                                            @link.Tipo
                                            <br />
                                            <a href="~/Document/Ma_VerDocumento/@link.Url">
                                                @link.Texto
                                            </a>
                                            <br /><br />
                                        }
                                    }
                                </div>
                            }
                            @if (ViewBag.Referencia)
                            {
                                <div class="col-md-4" style="border-left: 1px solid gray">
                                    <h3>Datos nueva referencia</h3>
                                    <form method="post" action="~/Document/SetReferencia" id="form-referencia">
                                        <label for="nuevaReferencia">Descripción</label>
                                        <textarea rows="5" class="form-control" id="textoReferencia" name="textoReferencia"></textarea>
                                        <br />
                                        <label for="tipo">Tipo referencia</label>
                                        <select name="tipo" class="form-control" id="tipo">
                                            <option value="NORMATIVA">Normativa</option>
                                            <option value="JURISPRUDENCIA">Jurisprudencia</option>
                                        </select>
                                        <br />
                                        <label for="colecciones">Visible para:</label>
                                        <select id="colecciones" name="colecciones" class="form-control" multiple>
                                            @for (var x = 0; x < ViewBag.DocumentoR.Coleccion.Length; x++)
                                            {
                                                <option value="@ViewBag.DocumentoR.Coleccion[x]">@ViewBag.DocumentoR.Coleccion[x]</option>
                                            }
                                        </select>
                            @foreach (var link in Model.Links)
                            {
                                if (link.Tipo.IndexOf("no contiene links") > 0)
                                {
                                    @link.Tipo
                                }
                                else
                                {
                                    <label>Visible para</label> @link.Colecciones <br />
                                    @link.Tipo
                                    <br />
                                    <a href="~/Document/Ma_VerDocumento/@link.Url">
                                        @link.Texto
                                    </a>
                                    <br /><br />
                                }
                            }
                        </div>
                        }
                        @if (ViewBag.Referencia)
                        {
                            <div class="col-md-4" style="border-left: 1px solid gray">
                                <h3>Datos nueva referencia</h3>
                                <form method="post" action="~/Document/SetReferencia" id="form-referencia">
                                    <label for="nuevaReferencia">Descripción documento inicial</label>
                                    <textarea rows="4" class="form-control" id="textoReferencia" name="textoReferencia"></textarea>
                                    <br />
                                    <label for="nuevaReferenciaDestino">Descripción link documento destino</label>
                                    <textarea rows="4" class="form-control" id="textoReferenciaDestino" name="textoReferenciaDestino"></textarea>
                                    <br />
                                    <label for="tipo">Tipo referencia</label>
                                    <select name="tipo" class="form-control" id="tipo">
                                        <option value="NORMATIVA">Normativa</option>
                                        <option value="JURISPRUDENCIA">Jurisprudencia</option>
                                    </select>
                                    <br />
                                    <label for="colecciones">Visible para:</label>
                                    <select id="colecciones" name="colecciones" class="form-control" multiple>
                                        @for (var x = 0; x < ViewBag.DocumentoR.Coleccion.Length; x++)
                                        {
                                            <option value="@ViewBag.DocumentoR.Coleccion[x]">@ViewBag.DocumentoR.Coleccion[x]</option>
                                        }
                                    </select>

                                        <input type="hidden" name="tipoReferencia" value="@Model.Norma" />
                                        <input type="hidden" name="idDocumento" value="@Model.IdDocumento" />
                                        <input type="hidden" name="tipoReferenciaDoc" value="@ViewBag.DocumentoR.Norma" />
                                        <div style="padding-top: 15px; text-align: right">
                                            <button id="btn-referencia" type="button" class="btn btn-default">Aceptar</button>
                                        </div>
                                    </form>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="detalleNota" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Notas</h4>
                </div>
                <div class="modal-body" id="txtDetalleNota">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts{

}