
@{
    ViewBag.Title = "BuscarLA";
}

<section class="content-header">
    <h1>
        Búsqueda por Plantillas
    </h1>
</section>

<section class="content">
    <div class="row" id="inicio">
        <div class="col-md-5">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-file-text-o"></i>
                    <h3 class="box-title">Base de datos</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <div class="box box-default">
                            <div class="box-header with-border">
                                <h1 class="box-title "><strong>Avisos</strong> </h1> -
                                <h3 class="box-title">Criterios de búsqueda</h3>
                            </div>
                            <div class="box-body">
                                <form action="~/Plantilla/BuscarLA" id="BuscarLA" name="BuscarLA" method="post">
                                    <div class="form-group">
                                        <label for="focusedInput">Con todas estas palabras:</label>
                                        <input class="form-control" name="todas" id="todas" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">Sin ninguna de estas palabras:</label>
                                        <input class="form-control" name="ninguna" id="ninguna" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">Con una o más de las palabras</label>
                                        <input class="form-control" name="plus" id="plus" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">Con la frase exacta:</label>
                                        <input class="form-control" name="exacta" id="exacta" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">Artículo:</label>
                                        <input class="form-control" name="articulo" id="articulo" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">
                                            N° de:
                                        </label>
                                        <input class="form-control" id="n" type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="focusedInput">Norma:</label>
                                        <input class="form-control" id="norma" type="text">
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>
                                                Seleccione sólo Códigos de la República
                                            </label>
                                            <select name="codrepu" id="codrepu" class="form-control">
                                                <option value="S">Seleccionar</option>
                                                <option value="CPE">Constitución Política</option>
                                                <option value="CC">Código Civil</option>
                                                <option value="CCOM">Código de Comercio</option>
                                                <option value="CP">Código Penal</option>
                                                <option value="CPC">Código de Procedimiento Civil </option>
                                                <option value="CPP">Código de Procedimiento Penal</option>
                                                <option value="COT">
                                                    Código Orgánico
                                                    de Tribunales
                                                </option>
                                                <option value="COTREF">
                                                    Código Orgánico
                                                    de Tribunales Reformado
                                                </option>
                                                <option value="CTRAB">Código del Trabajo</option>
                                                <option value="CMIN">Código de Minería</option>
                                                <option value="CTRIB">Código Tributario</option>
                                                <option value="CDA">Código de Aguas</option>
                                                <option value="CSAN">Código Sanitario</option>
                                                <option value="CAE">Código Aeronáutico</option>
                                                <option value="CIPR">
                                                    Código de Derecho Internacional
                                                    Privado
                                                </option>
                                                <option value="CJM">Código de Justicia Militar</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chxt" name="chxt" value="ok">Seleccione todos</label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" name="dl" class="chx" value="ok">Decretos Leyes (DL)</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="dfl" value="ok">Decretos con Fuerza de Ley (DFL)</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="dec" value="ok">Decretos</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="rg" value="ok">Reglamentos</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="res" value="ok">Resoluciones</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="ti" value="ok">Tratados Internacionales</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="ly" value="aa">Leyes</label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="aac" value="ok">Autos Acordados</label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="chx" name="ac" value="ok"> Acuerdos
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label><input type="checkbox" class="chx" name="ci" value="ok">Circular</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Fecha publicación</label><br />
                                        <label>desde:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input id="FechaD" name="FechaD" class="form-control pull-right" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Hasta:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            <input id="FechaH" name="FechaH" class="form-control pull-right" type="text" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <button type="button" id="btn-LA" class="btn btn-primary btn-block">Buscar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin formulario -->
        </div>
        <div class="col-md-7">
            <div class="row">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <i class="fa fa-file-text-o"></i>
                        <h3 class="box-title">Resultados</h3>
                    </div>
                    <div class="box-body">
                        @if (ViewBag.Referencia)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box box-success box-solid">
                                        <div class="box-header with-border">
                                            <h3>Nueva referencia</h3>
                                        </div>
                                        <div class="box-body">
                                            <strong>@Model.Norma</strong><br />
                                            @if (Model.Organismo != null && Model.Organismo != "")
                                            {
                                                @Model.Organismo
                                            }
                                            @if (Model.Numero != null && Model.Numero != "")
                                            {
                                                <label>Número @Model.Numero</label>
                                            }
                                            @if (Model.Articulo != null && Model.Articulo != "")
                                            {
                                                <label>Artículo @Model.Articulo</label>
                                            }
                                            @if (Model.Inciso != null && Model.Inciso != "")
                                            {
                                                <label>Inciso @Model.Inciso</label>
                                            }
                                            <br /><br />
                                            @Model.Titulo
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row">
                            <div class="col-md-12">
                                <label id="lblTotal"></label>
                                <div id="tblResultado">
                                    <table id="resultado" class="table table-bordered">
                                        <tbody id="tablaBody"></tbody>
                                    </table>
                                </div>
                                <div id="msgError" style="display:none;">
                                    <div class="alert alert-warning">
                                        <h4>
                                            <i class="icon fa fa-warning"></i>
                                            Atención !!
                                        </h4>
                                        No se encontraron registros para la búsqueda indicada.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="text-align: right" id="paginacion">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/Pages/Plantillas.js"></script>
    <script src="~/Scripts/Pages/BuscarPlantillas.js"></script>
}{}

